<%- include ("partials/header.ejs") %>
<main class="flex-grow">
  <div class="bg-gray-900 min-h-screen">
    <% if (gameDetails) { %>

    <!-- Hero section -->
    <div class="relative w-full h-[50vh] overflow-hidden">
      <img
        src="<%= gameDetails.background_image %>"
        alt="<%= gameDetails.name %>"
        class="w-full h-full object-cover"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-gray-900 to-transparent"
      ></div>
      <div class="absolute bottom-0 left-0 w-full p-8">
        <div class="max-w-7xl mx-auto">
          <h1 class="text-4xl md:text-5xl font-bold text-white mb-2">
            <%= gameDetails.name %>
          </h1>
          <div class="flex flex-wrap items-center gap-4 text-white">
            <div class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-calendar h-5 w-5 mr-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
                />
              </svg>
              <span class="text-lg"><%= gameDetails.released %></span>
            </div>
            <div class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-star h-5 w-5 mr-2 text-yellow-500"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"
                />
              </svg>
              <span class="text-lg"><%= gameDetails.rating %></span>
            </div>
            <div class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trophy h-5 w-5 mr-2 text-green-500"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935M3.504 1q.01.775.056 1.469c.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.5.5 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667q.045-.694.056-1.469z"
                />
              </svg>
              <span class="text-lg"><%= gameDetails.metacritic %></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <div class="flex flex-col lg:flex-row gap-8">
        <!-- Main About Section -->
        <section class="lg:w-2/3">
          <!-- About Section -->
          <% if (gameDetails.description_raw) { %>
          <section class="bg-gray-800 rounded-lg shadow-md p-6 mb-6">
            <div class="flex justify-between items-start mb-6">
              <h2 class="text-2xl font-bold text-gray-100">About</h2>
              <button
                class="flex items-center gap-2 px-4 py-2 rounded-full bg-gray-700 hover:bg-gray-500 transition-colors cursor-pointer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-heart h-5 w-5 mr-2 text-gray-100"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                  />
                </svg>
                <span class="text-gray-100">Add to Favorites</span>
              </button>
            </div>
            <div class="text-lg">
              <p class="text-gray-400"><%= gameDetails.description_raw%></p>
              <% if (gameDetails.website) { %>
                <a href="<%= gameDetails.website %>" target="_blank" class="inline-flex items-center mt-6 text-indigo-400 hover:text-indigo-200">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2 h-5 w-5 mr-2" viewBox="0 0 16 16">
                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855q-.215.403-.395.872c.705.157 1.472.257 2.282.287zM4.249 3.539q.214-.577.481-1.078a7 7 0 0 1 .597-.933A7 7 0 0 0 3.051 3.05q.544.277 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9 9 0 0 1-1.565-.667A6.96 6.96 0 0 0 1.018 7.5zm1.4-2.741a12.3 12.3 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332M8.5 5.09V7.5h2.99a12.3 12.3 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.6 13.6 0 0 1 7.5 10.91V8.5zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741zm-3.282 3.696q.18.469.395.872c.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a7 7 0 0 1-.598-.933 9 9 0 0 1-.481-1.079 8.4 8.4 0 0 0-1.198.49 7 7 0 0 0 2.276 1.522zm-1.383-2.964A13.4 13.4 0 0 1 3.508 8.5h-2.49a6.96 6.96 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667m6.728 2.964a7 7 0 0 0 2.275-1.521 8.4 8.4 0 0 0-1.197-.49 9 9 0 0 1-.481 1.078 7 7 0 0 1-.597.933M8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855q.216-.403.395-.872A12.6 12.6 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.96 6.96 0 0 0 14.982 8.5h-2.49a13.4 13.4 0 0 1-.437 3.008M14.982 7.5a6.96 6.96 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008zM11.27 2.461q.266.502.482 1.078a8.4 8.4 0 0 0 1.196-.49 7 7 0 0 0-2.275-1.52c.218.283.418.597.597.932m-.488 1.343a8 8 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z"/>
                  </svg>
                  Visit Official Website
                </a>
                
              <% }  %>
            </div>
          </section>
          <% } %>

          <!-- Screenshots Section -->
          <% if (screenshots && screenshots.length > 0) { %>
          <section class="bg-gray-800 rounded-lg shadow-md p-6 mb-6">
            <div class="flex justify-between items-start mb-6">
              <h2 class="text-2xl font-bold text-gray-100">Screenshots</h2>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <% screenshots.forEach((screenshot) => { %>
              <img
                src="<%= screenshot.image %>"
                alt="Game screenshot"
                class="w-full h-auto object-cover hover:scale-105 transition-transform duration-300 cursor-pointer"
                loading="lazy"
              />
              <% }) %>
            </div>
          </section>
          <% } %>
        </section>

        <!-- Game Info Section (Sidebar)-->
        <section class="lg:w-1/3">
          <div class="bg-gray-800 rounded-lg shadow-md p-6 mb-6">
            <h2 class="text-2xl font-bold text-gray-100 mb-4">Game Info</h2>
            <% if (gameDetails.platforms && gameDetails.platforms.length > 0) {
            %>
            <div class="space-y-4">
              <h3 class="text-sm font-bold text-gray-400">Platforms</h3>
              <div class="mt-2 flex flex-wrap gap-2">
                <% gameDetails.platforms.forEach((p) => { %>
                <div
                  class="px-3 py-1 rounded-full bg-gray-700 text-gray-200 text-sm"
                >
                  <%= p.platform.name %>
                </div>
                <% }) %>
              </div>
            </div>
            <% } %> <% if (gameDetails.genres) { %>
            <div class="mt-8 space-y-4">
              <h3 class="text-sm font-bold text-gray-400">Genres</h3>

              <div class="mt-2 flex flex-wrap gap-2">
                <% gameDetails.genres.forEach((genre) => { %>
                <div
                  class="px-3 py-1 rounded-full bg-indigo-900 text-gray-200 text-sm"
                >
                  <%= genre.name %>
                </div>
                <% }) %>
              </div>
            </div>
            <% } %> <% if (gameDetails.developers) { %>
            <div class="mt-8 space-y-2">
              <h3 class="text-sm font-bold text-gray-400">Developers</h3>
              <% gameDetails.developers.forEach((developer) => { %>
              <p class="uppercase text-gray-400 text-lg">
                <%= developer.name %>
              </p>
              <% }) %>
            </div>
            <% } %> <% if (gameDetails.publishers) { %>
            <div class="mt-8 space-y-2">
              <h3 class="text-sm font-bold text-gray-400">Publishers</h3>
              <% gameDetails.publishers.forEach((publisher) => { %>
              <p class="uppercase text-gray-400 text-lg">
                <%= publisher.name %>
              </p>
              <% }) %>
            </div>
            <% } %>
            <div class="mt-8 space-y-2">
              <h3 class="text-sm font-bold text-gray-400">ESRB Rating</h3>
              <div class="px-3 py-1 rounded-full text-gray-200 text-sm
              inline-block <%= !gameDetails.esrb_rating ? 'bg-yellow-500' :
              (gameDetails.esrb_rating.name === "Adults Only" ||
              gameDetails.esrb_rating.name === "Mature" ? 'bg-red-700' :
              'bg-green-500') %>"> <%= gameDetails.esrb_rating?.name ||
              "Unrated" %>
            </div>
          </div>
        </section>
      </div>
    </div>

    <% } %>
  </div>
</main>

<%- include ("partials/footer.ejs") %>
