<%- include("partials/header.ejs") %>
<main class="flex-grow font-inter">
  <div class="min-h-screen">
    <!-- Hero Section -->
    <section
      class="relative bg-gradient-to-r from-blue to-pink py-24 px-4 sm:px-6 lg:px-8"
    >
      <!-- Black overlay at 30% opacity -->
      <div class="absolute inset-0 bg-black opacity-30"></div>

      <div
        class="relative max-w-6xl mx-auto text-center text-white py-24 px-4 sm:px-6 lg:px-8"
      >
        <h1
          class="text-4xl font-inter font-extrabold tracking-wide sm:text-5xl md:text-7xl"
        >
          Discover Your Next Gaming Adventure
        </h1>
        <p class="mt-6 text-xl max-w-2xl mx-auto">
          Explore thousands of games across all platforms, genres, and ratings.
          Find your next favorite game today.
        </p>
        <form action="/search-games" method="GET" class="mt-8 sm:flex sm:justify-center">
          <div class="w-full sm:max-w-lg">
            <div class="flex items-center">
              <input
                type="text"
                name="search"
                placeholder="Search for games..."
                class="py-3 px-5 block w-full bg-white rounded-l-full border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-gray-900"
              />
              <button
                type="submit"
                class="p-3 rounded-r-full bg-indigo-800 hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-search h-6 w-6"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <path d="m21 21-4.3-4.3"></path>
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!-- New Realeses Section -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
      <section class="py-8">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-3xl font-bold text-gray-100">New Releases</h2>
          <a
            href="/results?filter=newReleases"
            class="flex items-center text-cyan-600 hover:text-blue-300 text-lg"
            >View All
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m8.25 4.5 7.5 7.5-7.5 7.5"
              />
            </svg>
          </a>
        </div>

        <!-- Grid for game cards -->
        <%- include("partials/gameCard.ejs", {games: newReleases}) %>
      </section>

      <!-- Top Rated Games Section -->
      <section class="py-8">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-3xl font-bold text-gray-100">Top Rated Games</h2>
          <a
            href="/results?filter=topRated"
            class="flex items-center text-cyan-600 hover:text-blue-300 text-lg"
            >View All
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m8.25 4.5 7.5 7.5-7.5 7.5"
              />
            </svg>
          </a>
        </div>

        <!-- Grid for game cards -->
        <%- include("partials/gameCard.ejs", {games: topRated}) %>
      </section>

      <!-- Upcoming Games Section -->
      <section class="py-8">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-3xl font-bold text-gray-100">Upcoming Games</h2>
          <a
            href="/results?filter=upComing"
            class="flex items-center text-cyan-600 hover:text-blue-300 text-lg"
            >View All
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m8.25 4.5 7.5 7.5-7.5 7.5"
              />
            </svg>
          </a>
        </div>

        <!-- Grid for game cards -->
        <%- include("partials/gameCard.ejs", {games: upComing}) %>
      </section>
      <!-- Categories Section -->
      <section class="">
        <% if (genres && genres.length > 0) { %>
        <div class="mt-16 grid grid-cols-1 md:grid-cols-3 gap-8">
          <% genres.forEach((genre) => { %>
          <a class="block group" href="/search?genre=<%= genre.name %>">
            <div class="relative h-64 rounded-lg overflow-hidden shadow-md">
              <img
                src="<%= genre.image_background %>"
                alt="<%= genre.name %>"
                class="w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-300"
              />
              <div
                class="absolute inset-0 bg-gradient-to-t from-black to-transparent"
              ></div>
              <div class="absolute bottom-0 left-0 p-6">
                <h3 class="text-xl font-bold text-white"><%= genre.name %></h3>
                <% if (genre.name === "Action") { %>
                <p class="text-gray-300 mt-1">
                  Explore action-packed adventures
                </p>
                <% } else if (genre.name === "Indie") { %>
                <p class="text-gray-300 mt-1">
                  Discover unique, creative worlds
                </p>
                <% } else if (genre.name === "Adventure") { %>
                <p class="text-gray-300 mt-1">Uncover hidden mysteries</p>
                <% } else if (genre.name === "RPG") { %>
                <p class="text-gray-300 mt-1">Craft your legendary story</p>
                <% } else if (genre.name === "Strategy") { %>
                <p class="text-gray-300 mt-1">Outsmart and conquer</p>
                <% } else if (genre.name === "Shooter") { %>
                <p class="text-gray-300 mt-1">
                  Lock, load, and dominate the battlefield
                </p>
                <% } else if (genre.name === "Casual") { %>
                <p class="text-gray-300 mt-1">Fun, quick, and easy to enjoy</p>
                <% } else if (genre.name === "Simulation") { %>
                <p class="text-gray-300 mt-1">Build, manage, and thrive</p>
                <% } else if (genre.name === "Puzzle") { %>
                <p class="text-gray-300 mt-1">
                  Sharpen your mind with every solve
                </p>
                <% } else if (genre.name === "Arcade") { %>
                <p class="text-gray-300 mt-1">
                  Quick thrills, high scores, endless fun!
                </p>
                <% } else if (genre.name === "Platformer") { %>
                <p class="text-gray-300 mt-1">
                  Jump, dash, and conquer every challenge!
                </p>
                <% } else if (genre.name === "Massively Multiplayer") { %>
                <p class="text-gray-300 mt-1">
                  Forge alliances, wage wars, and leave your mark on a living
                  world!
                </p>
                <% } else if (genre.name === "Racing") { %>
                <p class="text-gray-300 mt-1">Speed is your only rule</p>
                <% } else if (genre.name === "Sports") { %>
                <p class="text-gray-300 mt-1">
                  Train, compete, become legendary.
                </p>
                <% } else if (genre.name === "Fighting") { %>
                <p class="text-gray-300 mt-1">
                  Combos, clashes, and champions.
                </p>
                <% } else if (genre.name === "Family") { %>
                <p class="text-gray-300 mt-1">
                  Shared screens, endless smiles!
                </p>
                <% } else if (genre.name === "Board Games") { %>
                <p class="text-gray-300 mt-1">Fun for all ages, anytime!</p>
                <% } else if (genre.name === "Card") { %>
                <p class="text-gray-300 mt-1">
                  Build your deck, forge your legacy!
                </p>
                <% } else if (genre.name === "Educational") { %>
                <p class="text-gray-300 mt-1">Play smart, learn faster!</p>
                <% } else { %>
                <p class="text-gray-300 mt-1">Just have fun!</p>
                <% } %>
              </div>
            </div>
          </a>
          <% }) %> <% } %>
        </div>
      </section>
    </div>
  </div>
</main>
<%- include("partials/footer.ejs") %>
